peft @ git+git+https://github.com/huggingface/peft.git@06fd06a4d2e8ed8c3a253c67d9c3cb23e0f497ad
transformers @ git+https://github.com/huggingface/transformers.git@35eac0df75c692c5b93c12f7eaf3279cab8bd7ce
bitsandbytes==0.40.0
accelerate==0.20.3
addict
fire
PyYAML==6.0
datasets==2.13.1
sentencepiece
wandb==0.15.4
einops
xformers==0.0.20
optimum
# qlora things
bert-score==0.3.13
evaluate==0.4.0
rouge-score==0.1.2
scipy==1.11.1
scikit-learn==1.2.2
